<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <title>Soundclaz | Branding Agency - {% block title %}{% endblock %}</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <!-- SEO Meta Tags-->
  <meta name="description" content="Soundclaz - Branding agaency">
  <meta name="keywords"
    content="bootstrap, business, branding agency, portfolio, services, branding, web design, logo design, animation">
  <meta name="author" content="Soundclaz">

  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename="img/whiteicon.png") }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename="img/whiteicon.png") }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename="img/whiteicon.png") }}">
  <link rel="manifest" href="{{ url_for('static', filename="img/site.webmanifest") }}">
  <link rel="mask-icon" color="#5bbad5" href="{{ url_for('static', filename="img/safari-pinned-tab.svg") }}">
  <meta name="msapplication-TileColor" content="#766df4">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor Styles-->
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename="vendor/lightgallery.js/dist/css/lightgallery.min.css") }}" />
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename="vendor/tiny-slider/dist/tiny-slider.css") }}" />

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename="css/demo/creative-agency/theme.min.css" )}}">
    <!-- John Put the css link here-->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename="css/demo/creative-agency/theme.min.css" )}}">
  <!-- Page loading styles-->
  <style>
    .cs-page-loading {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .4s .2s ease-in-out;
      transition: all .4s .2s ease-in-out;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }

    .cs-page-loading.active {
      opacity: 1;
      visibility: visible;
    }

    .cs-page-loading-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      opacity: 0;
    }

    .cs-page-loading.active>.cs-page-loading-inner {
      opacity: 1;
    }

    .cs-page-loading-inner>span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      color: #787a80;
    }

    .cs-page-spinner {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      margin-bottom: .75rem;
      vertical-align: text-bottom;
      background-color: #cfcfd1;
      border-radius: 50%;
      opacity: 0;
      -webkit-animation: spinner .75s linear infinite;
      animation: spinner .75s linear infinite;
    }

    @-webkit-keyframes spinner {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    @keyframes spinner {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
  </style>

  <!-- Page loading scripts-->
  <script>
    (function () {
      window.onload = function () {
        var preloader = document.querySelector('.cs-page-loading');
        preloader.classList.remove('active');
        setTimeout(function () {
          preloader.remove();
        }, 2000);
      };
    })();
  </script>
</head>
<!-- Body-->
<body>


  <!-- Page loading spinner-->
  <!-- <div class="cs-page-loading active">
    <div class="cs-page-loading-inner">
      <div class="cs-page-spinner"></div><span>Loading...</span>
    </div>
  </div> -->

  <!-- Main content-->
  <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
  <main class="cs-page-wrapper position-relative">


    <!-- Navbar -->
    <!-- Remove .navbar-sticky class to detach .navbar from page scroll -->
    <header class="cs-header navbar navbar-expand-md navbar-light navbar-sticky">
        <div class="container px-0 px-xl-3">
          <a class="navbar-brand order-md-1 mr-md-5 mr-0 pr-lg-2" href="{{ url_for('main_site.index') }}">
            <img src="{{ url_for('static', filename="img/creative-agency/logo-dark.svg") }}" alt="Createx Logo" width="130">
          </a>
          <div class="d-flex align-items-center order-md-3">
            <a class="btn btn-primary btn-pill d-sm-inline-block d-none ml-3" href="{{ url_for("main_site.contact") }}">Contact us</a>
            <button class="navbar-toggler ml-1 mr-n3" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <nav class="collapse navbar-collapse order-md-2" id="navbarCollapse1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main_site.index') }}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('main_site.portfolio') }}">Portfolio</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main_site.guerrilla') }}">Advertisement Services</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main_site.product') }}">Product Innovation</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main_site.digital') }}">Digital Services</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main_site.about') }}">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog.home') }}">Blog</a>
              </li>
              <li class="nav-item d-sm-none d-block">
                <a class="nav-link" href="{{ url_for('main_site.contact') }}">Contact us</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

     <div class="container-fluid mb-5">
        <div class="row justify-content-center">
                <div class="col-lg-6 pt-3">
                <h1 class="text-start mb-5" style="color: rgb(6, 0, 97)">Sign Up <span style = "font-size:1rem; color:black;">to join soundclaz affiliate program</span></h1>
                    <div>
                      <form action="{{ url_for('affiliate.affiliate_post') }}" method="post" id="aff_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="text" name="fname_aff" id="" placeholder="First Name" class="input-one mb-4 mr-lg-4" style="font-size: 0.9rem; width: 48%;">
                        <input type="text" name="lname_aff" id="" placeholder="Last Name" class="input-one mb-4" style="font-size: 0.9rem; width: 48%;">
                        <input type="text" name="email_aff" id="" placeholder="Email Address" class="input-one mb-4 w-100" style="font-size: 0.9rem;">
                        <input type="text" name="username_aff" id="" placeholder="Username" class="input-one mb-4 w-100" style="font-size: 0.9rem;">
                        <input type="text" name="password_aff" id="" placeholder="Password" class="input-one mb-4 mr-lg-4" style="font-size: 0.9rem; width: 48%;">
                        <input type="text" name="c_password_aff" id="" placeholder="Confirm Password" class="input-one mb-4" style="font-size: 0.9rem; width: 48%;">
                        <input type="number" name="phone_aff" id="" placeholder="Phone Number" class="input-one mb-4 w-100" style="font-size: 0.9rem;">
                      </form>
                    </div>
                    <button class="btn btn-primary" formaction="{{ url_for('affiliate.affiliate_post') }}" form="aff_form">Register</button>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<footer class="cs-footer pt-3 bg-dark">
    <div class="container py-lg-5 py-4">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-12 order-md-1 order-2 mb-md-0 mb-4">
          <h3 class="h6 mb-3 text-uppercase text-light">Want to hire us?</h3>
          <ul class="nav nav-light flex-column">
            <li class="nav-item mb-2">
              <a href="tel:+2347035616553" class="nav-link p-0 font-weight-normal">
                <span class="text-light">Call: </span>
                +2347035616553
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="mailto:support@soundclaz.com" class="nav-link p-0 font-weight-normal">
                <span class="text-light">Email: </span>
                support@soundclaz.com
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-12 order-md-2 order-1 offset-lg-1 mb-md-0 mb-4">
          <h3 class="h6 mb-3 text-uppercase text-light">Quick links</h3>
          <ul class="nav nav-light flex-md-column flex-sm-row flex-column">
            <li class="nav-item mb-2">
              <a href="{{ url_for('main_site.index') }}" class="nav-link mr-md-0 mr-sm-4 p-0 font-weight-normal">Homepage</a>
            </li>
            <li class="nav-item mb-2">
              <a href="{{ url_for('main_site.portfolio') }}" class="nav-link mr-md-0 mr-sm-4 p-0 font-weight-normal">Portfolio</a>
            </li>
            <li class="nav-item mb-2">
              <a href="about.html" class="nav-link mr-md-0 mr-sm-4 p-0 font-weight-normal">About us</a>
            </li>
            <li class="nav-item mb-2">
              <a href="{{ url_for('blog.home') }}" class="nav-link mr-md-0 mr-sm-4 p-0 font-weight-normal">Blog</a>
            </li>
            <li class="nav-item mb-2">
              <a href="{{ url_for('main_site.contact') }}" class="nav-link mr-md-0 mr-sm-4 p-0 font-weight-normal">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 order-md-3 order-sm-4 order-3 offset-lg-1 mb-md-0 mb-4">
          <div class="col-12">
            <h3 class="h6 mb-3 text-uppercase text-light">Follow us</h3>
            <a href="https://www.facebook.com/Soundclaz-103697141997508"
              class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-facebook"></i>
            </a>
            <a href="http://instagram.soundclaz.com/"
              class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/soundclaz/"
              class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-linkedin"></i>
            </a>
            <a href="http://pinterest.soundclaz.com/" class="social-btn sb-solid sb-round sb-light mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-pinterest"></i>
            </a>
            <a href="http://youtube.soundclaz.com/" class="social-btn sb-solid sb-round sb-light mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-youtube"></i>
            </a>
          </div>
            <div class="col-12">
            <a href="https://www.sortlist.com/agency/soundclaz">
              <img class="d-block mt-md-3 mt-2" src="{{ url_for('static', filename="img/creative-agency/logo/sortlist.svg") }}" alt="Brand logo">
            </a>
            <a href="https://clutch.co/profile/soundclaz">
              <img class="d-block mt-md-3 mt-2" src="{{ url_for('static', filename="img/New-Clutch-Tagline-white.png") }}" alt="Brand logo">
            </a>

          </div>
        </div>

        <div class="col-md-3 col-sm-6 order-md-4 order-sm-3 order-4 mb-md-0 mb-4">
          <h3 class="h6 mb-3 text-uppercase text-light">Subscribe</h3>
          <form method="post" action="{{ url_for('main_site.subscribe') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group-overlay input-group-light form-group mb-2 pb-1">
                <input class="form-control appended-form-control" type="text" name="subscribe-email" placeholder="Email address*">
              <div class="input-group-append-overlay">
                <span class="input-group-text">
                  <button class="btn btn-link bt-sm px-0" type="submit">
                    <i class="cxi-arrow-right lead mt-n1"></i>
                  </button>
                </span>
              </div>
            </div>
            <small class="form-text text-light">*Subscribe to our newsletter to receive early discount offers, updates
              and new products info.</small>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-2 pt-1">
        <div class="d-flex align-items-end">
          <span class="d-sm-inline-block d-none text-light font-size-sm mr-3">Back to top</span>
          <a class="btn-scroll-top position-static rounded-circle" href="#top" data-scroll>
            <i class="btn-scroll-top-icon cxi-angle-up"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>


  <!-- Vendor scripts: js libraries and plugins-->
  <script src="{{ url_for('static', filename="vendor/jquery/dist/jquery.slim.min.js") }}"></script>
  <script src="{{ url_for('static', filename="vendor/bootstrap/dist/js/bootstrap.bundle.min.js") }}"></script>
  <script src="{{ url_for('static', filename="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js") }}"></script>
  <script src="{{ url_for('static', filename="vendor/simplebar/dist/simplebar.min.js") }}"></script>
  <script src="{{ url_for('static', filename="vendor/tiny-slider/dist/min/tiny-slider.js") }}"></script>
  <script src="{{ url_for('static', filename="vendor/mixitup/dist/mixitup.min.js") }}"></script>

  <!-- Main theme script-->
  <script src="{{ url_for('static', filename="js/theme.min.js") }}"></script>
<!-- Tawk.to -->
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6081f3845eb20e09cf35b520/1f3tpufhg';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

</html>